body {
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.wiki {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #0008;
    color: #fff;
    backdrop-filter: blur(20px);
    & > * {
        margin: 0;
    }
    & > :first-child {
        gap: 4px;
        display: flex;
        justify-content: end;
        & > * {
            border: none;
            background: #555;
            color: #fff;
            border-radius: 4px;
        }
    }
    & a {
        color: #fff;
    }
    & .search {
        position: absolute;
        overflow-y: scroll;
        height: 400px;
        background-color: #0008;
        backdrop-filter: blur(20px);
        left: 0;
        list-style: none;
        padding: 1rem;
    }
    & > .searchList {
        display: flex;
        gap: 4px;
    }
    & > :last-child {
        overflow-y: auto;
        & > ul {
            padding: 0;
            list-style: none;
        }
    }
}
